<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<div class="main">
    <div class="header">
        <h1 class="header-main-text">С 8 мартом!</h1>
        <h2 class="header-second-text">Желаю тебе всего хорошего❤️</h2>
    </div>


    <div class="body-div">
        <div class="header-div-img">
            <img [src]="imagePATH" class="header-img">
        </div>
        <h1 class="body-text">Кеттик далага шыгып кайтайык?!</h1>
        <h2 class="body-text-2"><span style="margin-right: 5px;">C</span> меня кушти настроение, c тебя <span style="margin-left: 5px;">внимание!</span></h2>
        <div class="body-chose">
            <button class="body-chose-button" (click)="yesButton()">ИЯ</button>
            <button class="body-chose-button-no" (click)="noButton()">ЖОК</button>

        </div>
        <h5 style="border: solid 1px; margin-top: 250px;">🖕</h5>

    </div>


</div>