<div class="main">
    <div class="header">
        <h1 class="header-main-text">Happy March 8th!</h1>
        <h2 class="header-main-text">Wishing you all the best ❤️</h2>
    </div>
    <div class="header-div-img">
        <img [src]="imagePATH" class="header-img">
    </div>

    <div class="body-div">
        <h1 class="body-text">Shall we go out into nature?!</h1>
        <h2 class="body-text">I'll bring good vibes, you bring your attention!</h2>
    </div>

    <div class="body-chose">
        <button class="body-chose-button">YES</button>
        <button class="body-chose-button">NO</button>
    </div>
</div>